<div class="container">
    {{ $numColumns := 3 }}
    {{ $projects := .Scratch.Get "elements" }}
    {{ range $idx, $proj:= $projects }}
        {{ if modBool $idx $numColumns }} 
        {{/*  if $idx modulo $numColumns = 0  */}}
            <div class="row gallery-row">
        {{ end }}
        {{ with $.Site.GetPage $proj }}
        {{ $img:= .Resources.GetMatch .Params.projectImage }}
        {{ $imgThumb := $img.Resize "714x400" }}
        {{/*  Resizes and crops the project image to 400 X 400 so that we get a perfect square which loads quickly  */}}
        <div class="col-sm-4">
            <div class="card h-100 border-0 img-overlay">
                {{ if $imgThumb }}
                    <img src="{{ $imgThumb.RelPermalink }}" class="card-img-top" alt="...">
                    <a href="{{ .RelPermalink }}" class="stretched-link">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text">{{ .Params.shortDescription }}</p>
                    </a>
                {{ end }}
                {{/*  <div class="card-body">
                    <a href="{{ .RelPermalink }}" class="stretched-link">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text">{{ .Params.shortDescription }}</p>
                    </a>
                </div>  */}}
            </div>
        </div>

            {{/*  <h2>{{ .Title }}</h2>
            <p>{{ .Params.shortDescription }}</p>
            {{ $img:= .Resources.GetMatch .Params.projectImage }}  */}}
            {{/*  .Params.projectImage is just the name of the file, but it isn't the file itself and also 
            doesn't tell us exactly where the file is. Instead of hardcoding the path, we use GetMatch to find the path  */}}
            {{/*  GetMatch returns the very first thing it finds when searching so don't have more than one file with the same name  */}}
            {{/*    */}}
            {{/*  <img src="{{ $img.RelPermalink }}" />  */}}

            
        {{ end }}
        {{ $nextIdx := add $idx 1 }}

        {{ if or (modBool $nextIdx $numColumns) (eq $nextIdx (len $projects))}}
        {{/*  if the index of the following project will be a multiple of $numColumns, end the row  */}}
            </div>
        {{ end }}
    {{ end }}
